.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    background-color: #003b6f;
    background-image: url('../images/space.jpg');
    background-position: center;
    background-size: cover;
    /* x position, y position, blur radius, spread radius */
    box-shadow: 0px 0px 100px 100px #000 inset;
    padding: 10px 0;
    margin-bottom: 0px;
}

#main-logo {
    width: 350px;
    display: block;
    margin: 0 auto;  
    /*margin top and bottom, 0. Margin left and right auto */
    /*box-shadow: 3px 3px 5px rgba(0,0,0,.3);*/
}

#character_nav {
    background-color: #2f324b;
    background-image: url('../images/time-vortex.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: 0px 0px 80px 100px #000 inset;
    padding-bottom: 50px;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.characters li {
    width: 180px;
    height: 350px;
    margin: 0px 8px;
    text-align: left;
    cursor: pointer;
    background-color: #ffffff00;
    /* TARDIS blue is #003b6f*/
    /* The y position of this is so strange.. - is up and + is down??
    box-shadow: 0px -200px 10px -10px #003b6f inset; 
    Actually I'm gonna comment this out because I want to save it while I try something with li h5
    */
    transition: box-shadow .2s ease, scale .2s ease, margin-right .2s, margin-left .2s;
}

.characters li a {
    text-decoration: none;
}

.characters li:hover {
    /* box-shadow: 0px 0px 10px 100px #003b6f inset; */
    margin-right: 15px;
    margin-left: 15px;
}

.characters li:hover h5 {
    /* Moving the shadow to the header so it doesn't appear behind the transparent companion image */
    box-shadow: 0px 100px 0px 0px #2a2364 inset;
}

.characters li h5 {
    color: #fff;
    padding: 12px 8px;
    margin: 0px 0px 0px 0px;
    padding-top: -6px;
    box-shadow: 0px 6px 0px 0px #003b6f inset;
    transition: box-shadow .2s ease;
}

article, #instructions {
    padding: 20px;
}

article h3, #instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

article p, #instructions p {
    font-size: 18px;
    text-align: center;
}

.sprite {
    width: 240px;
    height: 360px;
    scale: 0.8;
    translate: -30px 36px;
    background-image: url('../images/companionSpritesFinal.png');
    transition: scale .2s ease, translate .2s ease;
}

.characters li:hover .sprite {
    scale: 1;
    translate: -30px -0px;
}

#carol {background-position: -240px 0;}
#clint {background-position: -480px 0;}
#hulk {background-position: -720px 0;}
#thor {background-position: -960px 0;}
#widow {background-position: -1200px 0;}

#cap:hover, #carol:hover, #clint:hover, #hulk:hover, #thor:hover, #widow:hover {
    background-position-y: 360px;
}

footer {
    text-align: center;
    padding: 20px 0 0 0;
}

.sticky_footer {
    height: 80px;
    background-color: rgb(40,37,37);
    position: sticky;
    top: 100%;
}